.weather-widget{
    width: 44rem;
    height: 28rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;

    &__today{
        width: 30%;
        background-color: lightblue;
        
    }
}