.weather-widget{
    width: 60vw;
    height: 28rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;

    &__today{
        width: 40%;
        background-color: lightblue;
    }

    &__further-info{
        width: 60%;
        padding: 2rem;
    }

    &__current-highlights{
        padding-top: 1rem;
    }
    &__now-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        padding-top: 1rem;
    }

    &__info-card{
        border: 1px solid black;
        border-radius: 0.7rem;
        padding-top: 0.8rem;
        padding: 1rem;
    }
}