.weather-widget{
    width: 60vw;
    height: 28rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    margin-left: 5rem;

    &__today{
        width: 40%;
        padding: 2rem;
        border-radius: 2rem 0 0 2rem;


    }

    &__location{
        display: flex;
        gap: 1rem;
    }

    &__location-button{
        border-radius: 3rem;
        padding: 0.2rem 0.3rem;
        border: 0;
    }

    &__location-icon{
        position: relative;
    }


    &__further-info{
        width: 60%;
        padding: 2rem;
        background-color: lightgrey;
        border-radius: 0 2rem 2rem 0;
    }

    &__current-highlights{
        padding-top: 1rem;
    }
    &__now-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        padding-top: 1rem;
    }

    &__info-card{
        background-color: white;
        border-radius: 0.7rem;
        padding-top: 0.8rem;
        padding: 1rem;
    }
}