.news-widget{
    width: 24%;
    height: 400px;
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}