*{
    margin: 0;
    padding: 0;
}

.weather-card{
    border: 1px solid black;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    min-width: 4rem;
    padding: 0.4rem;

    &__icon{
        width: 70%;
    }
}