  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.App{
  padding: 2rem 0 0 3rem ;

  &__title{
    margin-bottom: 2rem;
  }

  &__widgets{
  display: flex;
  gap: 2rem;
  }
}